.login {
	background-color: rgb(249, 250, 252);
	position: relative;
	height: 100vh;
}

.login__box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	min-width: 30rem;
	max-height: 70%;
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;

	border-radius: 5px;
}

.login__header {
	display: block;
	text-align: center;
	margin-bottom: 5rem;
}

.login__nav {
	border-top: 1px solid rgb(93, 114, 128);
	margin-top: 3rem;
}

.login__link {
	display: block;
	text-decoration: none;
	color: rgb(106, 129, 146);
	margin: 1rem 0;
}

.btn-login {
	width: 100%;
	background-color: rgb(80, 72, 229);
	border: none;
	color: #ffffff;
}

.form-group {
	position: relative;
}
.form-group:not(:last-child) {
	margin-bottom: 2rem;
}
.form-input {
	outline: none;
	padding: 1rem 1rem;
	width: 100%;

	border-radius: 5px;
	border: 1px solid rgb(93, 114, 128);
}
.form-input:focus {
	border: 1px solid rgb(80, 72, 229);
}
.form-label {
	font-size: inherit;
	font-weight: 500;
	color: rgb(106, 129, 146);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: text;
	user-select: none;
	transition: 0.15s ease-in-out;
	left: 1.2rem;
	display: block;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
	top: 0;

	color: rgb(80, 72, 229);
	background-color: #ffffff;
}
